.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  min-height: 100vh;
  background-color: var(--bg-primary);
  padding: 25px;
}

.input-wrapper {
  margin-top: auto;
}

.line {
  height: 1px;
  background-color: var(--secondary-text);
  opacity: 0.2;
}

.button-wrapper {
  display: flex;

  @media (width >= 48rem) {
    justify-content: flex-end;
  }
}
